/* .css-1hvruqd-control {
    height: 40px; 
    margin-top: 1px;
    border-radius: 4px !important;
} */
.css-11j3q82-placeholder{
/* padding-top: 3px; */
color: gray !important;
font-weight: 400;
}
